
.bgContainer{

    background-color:rgb(226, 209, 209);
}
.button:hover{

    background-color:rgb(131, 92, 92);
}
.progBar{
    height: 100px;
    background-color: rgb(150, 105, 105);
    width: 60%;
}

.bg{
    
    background-image: url("Mindset.png");
    background-repeat: repeat;
}
.bgContainer2{

    background-color: rgba(235, 203, 171, 0.838);
}
.font{

    font-style:oblique;
}
